body {
    background-color: #EBFAF5 !important;
  }

.login_row_margin{
    margin-top: 60px;
  }

  /* .TopNav{

  } */

  table, th, tr, td{
    border: 2px solid #E1E4E4;
  }

  .radio_input{
    margin-top: 25px;
  }